.footer {
    color: #fff;
    text-align: center;
    padding: 0.5rem; /* Equivalent to Tailwind's p-2 */
    margin-top: 1rem;
  }

.footer p{
    font-size: 0.75rem;
    font-weight: 500;
    opacity: 0.9;
    margin: .1rem;
}
  