/* Grid container for the skills cards */
.software-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /* gap: 1rem; */
  margin: 0 1rem;
}

* {
  transition: all 0.1s ease;
}

/* Skill card styling */
.software-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: #fff;
  /* border-radius: 0.5rem; */
  text-decoration: none;
  position: relative;
  overflow: hidden;
  gap: 0.5rem;
}

/* Icon styling */
.software-icon {
  font-size: 3rem;
}

/* Software name is hidden by default */
.software-card p {
  opacity: 0;
  margin: 0.5rem 0 0;
  white-space: nowrap; /* Prevents text wrapping */
  font-size: 0.9rem;
}

/* On hover, reveal the software name and flip the icon */
.software-card:hover p {
  opacity: 1;
  font-weight: 400;
  color: #9990bb;
}

.software-card:hover .software-icon {
  /* transform: rotateY(360deg); */
  color: #9990bb;
}

/* Mobile View: Only show icons with reduced spacing */
@media (max-width: 1024px) {
  .software-grid {
    gap: 2rem; /* reduced gap */
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
  
  .software-card {
    padding: .1rem; /* reduced padding */
    margin-top: 0.5rem; /* reduced margin */
  }
  
  .software-card p {
    display: none; /* hide software name */
  }
  
  .software-icon {
    font-size: 3rem; /* optionally reduce icon size */
  }
}
