@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Quicksand:wght@300..700&display=swap');
/* @import "tailwindcss"; */

/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quicksand-light {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.quicksand-medium {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.quicksand-bold {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.chonburi-regular {
  font-family: "Chonburi", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

h1 {
  font-family: 'Chonburi', serif;
  font-weight: 700;
}

h2 {
  font-family: 'Chonburi', serif;
  font-weight: 400;
}

h3 {
  font-family: 'Chonburi', serif;
  font-weight: 100;
}